export(batchBUGS, runExample)
export(Air)
export(Alligators)
export(Asia)
export(Beetles)
export(Biopsies)
export(BiRats)
export(Blockers)
export(Bones)
export(Camel)
export(Cervix)
export(Dogs)
export(Dugongs)
export(Dyes)
export(Elevation)
export(Endo)
export(Epil)
export(Equiv)
export(Eyes)
export(Eyetracking)
export(Forest)
export(Hearts)
export(HepatitisME)
export(Hepatitis)
export(Hips2)
export(Hips3)
###export(Hips4)
export(Huddersfield)
export(Ice)
###export(Inhalers)
export(Jama)
export(Jaws)
export(Kidney)
export(Leukfr)
export(Leuk)
export(LHA)
export(Line)
export(Lsat)
export(Magnesium)
export(Mice)
export(MVCAR)
export(Otrees)
export(OtreesMVN)
export(Oxford)
export(Pigs)
export(Pigweights)
###export(Pines)
export(Pollution)
export(Pumps)
export(Rats)
export(Salm)
export(Schools)
export(Scotland1)
export(Scotland)
export(Seeds)
export(Shared)
###export(Sixcomp)
export(Stacks)
export(Stagnantc)
export(StVeit)
export(Surgical)
export(Surgicalrand)
###export(t-df)
